<!DOCTYPE html>

<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="theme-color" content="#212121" />
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#bdbdbd" />
	<title>{{ .Title }}</title>

	{{ with partial "resource.html" (dict "Name" "favicon.ico" "Rename" false) }}
	<link rel="icon" href="{{ .RelPermalink }}" sizes="32x32"{{ .Integrity }}>
	{{ end }}
	{{ with partial "resource.html" "favicon.svg" }}
	<link rel="icon" href="{{ .RelPermalink }}" size="any" type="image/svg+xml"{{ .Integrity }}>
	{{ end }}
	{{ with partial "resource.html" "apple-touch-icon.png" }}
	<link rel="apple-touch-icon" href="{{ .RelPermalink }}"{{ .Integrity }}>
	{{ end }}
	{{ with partial "resource.html" "main.css" }}
	<link rel="stylesheet" href="{{ .RelPermalink }}"{{ .Integrity }}>
	{{ end }}
	{{ with partial "resource.html" "main.js" }}
	<script src="{{ .RelPermalink }}"{{ .Integrity }}></script>
	{{ end }}
</head>

<body>
	<header>
		<nav class="header">
			<a class="header-title" href="{{ site.Home.RelPermalink}} ">{{ site.Title }}</a>
			<a class="header-about" href="{{ (site.GetPage "about").RelPermalink }}">About</a>
		</nav>
	</header>

	<main>
		{{ block "main" . }}{{ end }}
	</main>
</body>

</html>
