{{- $result := "" }}
{{- $inner := replaceRE `(?s)^\n(.*?)\n*$` `$1` .Inner }}

{{- if eq .Type "block" -}}
	{{- $id := index .Attributes "id" }}
	{{- if not $id }}
		{{- errorf "Id is required for math blocks.\n\t%s" (partial "relpath" .) }}
	{{- end }}

	{{- if not .Inner }}
		{{- warnf "Math blocks should not be empty.\n\t%s" (partial "relpath" .) }}
	{{- end }}

	{{- $opts := dict "output" "mathml" "displayMode" true }}
	{{- $result = transform.ToMath $inner $opts }}

	{{- /* Change span to div */}}
	{{- $result = replaceRE "^<span" "<div" $result }}
	{{- $result = replaceRE "span>$" "div>" $result }}

	{{- /* Add a second div and set classes */}}
	{{- $divFmt := printf `<div id="%s" class="container math">%c<div class="scroll">` $id '\n' }}
	{{- $result = replaceRE `<div class="katex">` $divFmt $result }}
	{{- $result = replaceRE `</div>` "</div>\n</div>" $result }}

	{{- /* Add copy button */}}
	{{- $btnFmt := printf `<button class="copy-block symbol require-js" type="button" aria-label="Copy">&#xf4bb;</button>%c$1` '\n' }}
	{{- $result = replaceRE `(<div class="scroll">)` $btnFmt $result }}

	{{- /* New lines for readability in development */}}
	{{- $result = replaceRE `<math` "\n<math" $result }}
{{- else }}
	{{- $opts := dict "output" "mathml" "displayMode" false }}
	{{- $result = transform.ToMath $inner $opts }}

	{{- /* Set classes */}}
	{{- $result = replaceRE `<math([^>]*)>` `<math$1 display="inline">` $result }}

	{{- /* Remove span */}}
	{{- $result = replaceRE `^<span class="katex">` `` $result }}
	{{- $result = replaceRE `</span>$` `` $result }}
{{- end }}

{{- /* New lines for readbility in development */}}
{{- $result = replaceRE `<mtr` "\n<mtr" $result }}
{{- $result = replaceRE `<mtd` "\n<mtd" $result }}
{{- $result = replaceRE `<semantics>` "\n<semantics>\n" $result }}
{{- $result = replaceRE `<annotation` "\n<annotation" $result }}

{{- /* Remove empty rows */}}
{{- $result = replaceRE `<mrow></mrow>` "" $result }}

{{- /* Remove empty cells */}}
{{- $result = replaceRE `<mtd class ?="mtr-glue"></mtd>` "" $result }}

{{- $result | safeHTML -}}
{{ .Page.Store.Set "hasMath" true }}
