{{- $class := "highlight" }}
{{- with index .Attributes "class" }}
	{{- $class = printf "%s %s" $class . }}
{{- end }}

{{- $id := index .Attributes "id" }}
{{- if not $id }}
	{{- if not (in .Type (slice "goat" "mermaid")) }}
		{{/* They don't have line numbers and create a tab stop */}}
		{{- errorf "Id is required for code blocks.\n\t%s" .Position }}
	{{- end }}
{{- end }}

{{- $opts := dict "lineNumbersInTable" true }}
{{- $result := (transform.HighlightCodeBlock . $opts).Wrapped}}

{{- /* Remove table outer div */}}
{{- $idFmt := printf `$0 id="%s"` $id }}
{{- $result = replaceRE `^<div class="highlight[^>]*>` "" $result }}
{{- $result = replaceRE `^<div class="chroma"` $idFmt $result }}
{{- $result = replaceRE "(</div>)\n</div>" "$1" $result }}

{{- /* Remove highlight outer spans */}}
{{- $result = replaceRE `<span class="hl"><span class="lnt">([ \d\n]*)</span></span>` `<span class="lnt hl">$1</span>` $result }}

{{- /* Add copy button */}}
{{- $btnFmt := "<button class=\"code-copy require-js\" type=\"button\" aria-label=\"Copy\"><p>&#xf4bb;</p></button>\n$1" }}
{{- $result = replaceRE "(</div>)$" $btnFmt $result }}

{{- /* Remove some junk */}}
{{- $result = replace $result " tabindex=\"0\"" "" }}
{{- $result = replace $result "pre class=\"chroma\"" "pre" }}

{{- $result | safeHTML -}}
