{{- $class := "highlight" }}
{{- with index .Attributes "class" }}
	{{- $class = printf "%s %s" $class . }}
{{- end }}

{{- $id := index .Attributes "id" }}
{{- if not $id }}
	{{- if not (in .Type (slice "goat" "mermaid")) }}
		{{/* They don't have line numbers and create a tab stop */}}
		{{- errorf "Id is required for code blocks.\n\t%s" .Position }}
	{{- end }}
{{- end }}

{{- $result := (transform.HighlightCodeBlock .).Wrapped}}

{{- /* Add some newlines */}}
{{- $result = replaceRE `^(<div [^>]*>)` "$1\n" $result }}
{{- $result = replaceRE "</div>$" "\n</div>\n" $result }}

{{- /* Add copy button */}}
{{- $btnFmt := "<button class=\"code-copy require-js\" type=\"button\" aria-label=\"Copy\"><p>&#xf4bb;</p></button>\n$1" }}
{{- $result = replaceRE `(</div>\n)` $btnFmt $result }}

{{- /* Remove some junk */}}
{{- $result = replaceRE `<code class="([^"]*)" data-lang="([^"]*)">` `<code>` $result }}
{{- $result = replaceRE ` tabindex="0"` `` $result }}

{{- $result | safeHTML -}}
