{{- $result := "" }}
{{- $inner := replaceRE `(?s)^\n(.*?)\n*$` `$1` .Inner }}

{{- if eq .Type "block" -}}
	{{- $opts := dict "output" "mathml" "displayMode" true }}
	{{- $result = (transform.ToMath $inner $opts).Value }}

	{{- /* Change span to 2 divs */}}
	{{- $result = replaceRE "^<span" "<div" $result }}
	{{- $result = replaceRE "span>$" "div>" $result }}

	{{- /* Add copy button */}}
	{{- $tail := `<button class="copy-block text special require-js" type="button" aria-label="Copy">&#xf4bb;</button>` }}
	{{- $tail = printf "\n%s\n</div>" $tail }}
	{{- $result = replaceRE `</div>$` $tail $result }}

	{{- /* Add a second div and set classes */}}
	{{- $result = replaceRE `<div class="katex">` `<div class="container math block"><div class="scroll">` $result }}
	{{- $result = replaceRE `</div>` `</div></div>` $result }}
	{{- $result = replaceRE `<math` `<math class="text special"` $result }}

	{{- /* New lines for readbility in development */}}
	{{- $result = replaceRE `<math` "\n<math" $result }}
{{- else }}
	{{- $opts := dict "output" "mathml" "displayMode" false }}
	{{- $result = (transform.ToMath $inner $opts).Value }}

	{{- /* Set classes */}}
	{{- $result = replaceRE `<math` `<math class="container text special math inline"` $result }}

	{{- /* Remove span */}}
	{{- $result = replaceRE `^<span class="katex">` `` $result }}
	{{- $result = replaceRE `</span>$` `` $result }}
{{- end }}

{{- /* New lines for readbility in development */}}
{{- $result = replaceRE `<mtr` "\n<mtr" $result }}
{{- $result = replaceRE `<mtd` "\n<mtd" $result }}
{{- $result = replaceRE `<semantics>` "\n<semantics>\n" $result }}
{{- $result = replaceRE `<annotation` "\n<annotation" $result }}

{{- /* Remove empty rows */}}
{{- $result = replaceRE `<mrow></mrow>` "" $result }}

{{- /* Remove empty cells */}}
{{- $result = replaceRE `<mtd class ?="mtr-glue"></mtd>` "" $result }}

{{- $result | safeHTML -}}
{{ .Page.Store.Set "hasMath" true }}
