{{- $resource := false }}
{{- $fullSize := false }}

{{- $remote := findRE `^https?://` .Destination }}
{{- if $remote }}
	{{- $resource = resources.GetRemote .Destination }}
	{{- $resource = dict
		"RelPermalink" .Destination
		"Width"        $resource.Width
		"Height"       $resource.Height
	}}
	{{- $fullSize = $resource }}

	{{- $resize := index .Attributes "resize" }}
	{{- if $resize }}
		{{- $resource = partial "resource" (dict
			"Name" .Destination
			"Page" .Page
			"Resize" .Attributes.resize
		) }}
	{{- end }}
{{- else }}
	{{- $resource = partial "resource" (dict
		"Name" .Destination
		"Page" .Page
		"Resize" .Attributes.resize
	) }}

	{{- $fullSize = partial "resource" (dict
		"Name" .Destination
		"Page" .Page
	) }}
{{- end }}

{{- if not $resource }}
	{{- errorf "Failed to find image \"%s\"\n\t%s" .Destination .Page.Path }}
{{- end }}

{{- $id := path.BaseName .Destination }}
{{- $images := .Page.Store.Get "images" }}
{{- $index := or (index $images $id) 0 }}
{{- .Page.Store.SetInMap "images" $id (add $index 1) }}
{{- $suffix := cond $index (printf "-%d" (add $index 1)) "" }}
{{- $id = (printf "%s%s" $id $suffix) | anchorize }}

{{- /* */}}
		<div class="container image{{ with (index .Attributes "class") }} {{ . }}{{ end }}">
			<img id="{{ $id }}"
				src="{{ $resource.RelPermalink }}"
				{{ with .Text }}alt="{{ . }}"{{ end }}
				{{ with .Title }}title="{{ . }}"{{ end }}
				width="{{ $resource.Width }}"
				height="{{ $resource.Height }}"
				decoding="async" loading="lazy"
				{{- with $fullSize }}
				data-full-size-src="{{ .RelPermalink }}"
				data-full-size-width="{{ .Width }}"
				data-full-size-height="{{ .Height }}"
				{{- end }} />
		</div>
{{- /* */ -}}
