<!DOCTYPE html>
<html class="theme-system" lang="en-us" dir="ltr">

<head>
	{{ if .Title -}}
	<title>{{ .Title }}</title>
	{{- end }}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="theme-color" content="#212121" />
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#bdbdbd" />

	{{ with .Site.Home.OutputFormats.Get "atom" -}}
		{{ (printf `<link rel="%s" href="%s" type="%s" title="%s">` .Rel .RelPermalink .MediaType site.Title) | safeHTML }}
	{{- end }}
	{{ with partial "resource" (dict "Name" "favicon.ico" "Rename" false) -}}
	<link rel="icon" href="{{ .RelPermalink }}" sizes="32x32"{{ .Integrity }}>
	{{- end }}
	{{- with partial "resource" "res/favicon.svg" }}
	<link rel="icon" href="{{ .RelPermalink }}" sizes="any" type="image/svg+xml"{{ .Integrity }}>
	{{- end }}
	{{- with partial "resource" "res/main.css" }}
	<link rel="stylesheet" href="{{ .RelPermalink }}"{{ .Integrity }}>
	{{- end }}
	{{- with partial "resource" "res/main.ts" }}
	<script src="{{ .RelPermalink }}" async{{ .Integrity }}></script>
	{{- end }}

	{{- $woff2 := partial "resource" "res/code.woff2" }}
	{{- $woff := partial "resource" "res/code.woff" }}
	{{- $hasSymbols := strings.FindRE `\p{Co}` (.Page.Content | htmlUnescape) 1 }}
	{{- $hasSymbols := gt 0 (len $hasSymbols) }}
	{{- $hasSymbols := or $hasSymbols .Page.Params.comments }}
	{{- $hasCode := strings.Contains .Page.Content "<code>" }}
	{{- if or $hasSymbols $hasCode }}
	<link rel="preload" as="font" href="{{ $woff2.RelPermalink }}" type="font/woff2"{{ $woff2.Integrity }}>
	<link href="{{ $woff.RelPermalink }}" type="font/woff"{{ $woff.Integrity }}>
	<style>
		@font-face {
			font-family: "code";
			src:
				url("{{ $woff2.RelPermalink }}") format("woff2"),
				url("{{ $woff.RelPermalink }}") format("woff");
		}
	</style>
	{{- end }}

	{{- if .Page.Store.Get "hasMath" }}
	{{- $woff2 := partial "resource" "res/math.woff2" }}
	{{- $woff := partial "resource" "res/math.woff" }}

	<link rel="preload" as="font" href="{{ $woff2.RelPermalink }}" type="font/woff2"{{ $woff2.Integrity }}>
	<link href="{{ $woff.RelPermalink }}" type="font/woff"{{ $woff.Integrity }}>
	<style>
		@font-face {
			font-family: "math2";
			src:
				url("{{ $woff2.RelPermalink }}") format("woff2"),
				url("{{ $woff.RelPermalink }}") format("woff");
		}
	</style>
	{{- end }}

	<noscript>
		<style>
			.require-js { display: none; }
		</style>
	</noscript>

	<script>
		const theme = localStorage.getItem("theme") ?? 0
		const classes = [ "theme-system", "theme-light", "theme-dark" ]
		const html = document.getElementsByTagName("html")[0]
		html.classList.remove("theme-system")
		html.classList.add(classes[theme])
	</script>

	{{- if .Page.Store.Get "hasMermaid" }}

	<script type="module">
		import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
		mermaid.initialize({ startOnLoad: true });
	</script>
	{{- end }}

	{{- block "head" . }}{{ end }}
</head>

<body class="{{ or .Page.Layout .Page.Kind }}">
	<header>
		<nav class="header">
			<a class="header-title" href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a>
			<p class="header-theme-label" for="header-theme-button"></p>
			<button class="header-theme-button require-js" id="header-theme-button" type="button" aria-label="Toggle Theme">
{{/**/}}
			{{- with resources.Get "res/theme-icon.svg" }}
				{{- partial "indent" (slice .Content 3) | chomp | safeHTML }}
			{{- end }}
			</button>
			<a class="header-about" href="{{ (site.GetPage "about").RelPermalink }}">About</a>
		</nav>
	</header>

	<main>
		{{- block "main" . }}{{ end }}

		{{- if .Page.Params.comments }}
		<div class="end-mark symbol">&#xe22e;</div>
		<section id="comments" class="require-js no-mathml">
			<div class="comments-templates" style="display: none;">
				<template id="comment-template">
					<section class="comment">
						<div class="comment-content">
						</div>
						<form class="reply-input" novalidate>
							<textarea aria-label="Enter Reply Text" placeholder="Write a reply" required rows="1"></textarea>
							<div>
								<button class="comment-logout" type="button" aria-label="Sign Out">
									<span class="symbol">&#xf426;</span>
									<span>Sign out</span>
								</button>
								<button class="comment-submit" type="submit" disabled aria-label="Post Reply">
									<span>Comment</span>
									<span class="symbol">&#xf02a4;</span>
									<span>Sign in</span>
								</button>
							</div>
						</form>
					</section>
				</template>

				<template id="reply-template">
					<section class="reply">
						<div class="comment-content">
						</div>
					</section>
				</template>

				<template id="comment-header-template">
					<header>
						<a class="comment-avatar" href="" rel="nofollow noopener noreferrer">
							<img src="" width="40px" height="40px" loading="lazy" />
						</a>
						<a class="comment-time" href="" rel="nofollow noopener noreferrer">
							<time datetime=""></time>
						</a>
					</header>
				</template>

				<template id="comment-footer-template">
					<footer>
						<button class="comment-toggle-reactions symbol" type="button" aria-label="Toggle Reaction Visibility">&#xf4a2;</button>
						<div class="comment-reactions">
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Thumbs Up Reaction" name="THUMBS_UP"><span>👍</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Thumbs Down Reaction" name="THUMBS_DOWN"><span>👎</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Laugh Reaction" name="LAUGH"><span>😄</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Hooray Reaction" name="HOORAY"><span>🎉</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Confused Reaction" name="CONFUSED"><span>😕</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Heart Reaction" name="HEART"><span>❤️</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Rocket Reaction" name="ROCKET"><span>🚀</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Eyes Reaction" name="EYES"><span>👀</span><span class="comment-reaction-count">0</span></button>
						</div>
					</footer>
				</template>

				<template id="comment-code-block-template">
					<div class="container code">
						<pre class="scroll"><code></code></pre>
						<button class="copy-block" type="button" aria-label="Copy">&#xf4bb;</button>
					</div>
				</template>

				<template id="comment-math-inline-template">
					<math xmlns="http://www.w3.org/1998/Math/MathML" display="inline">
						<semantics>
							<annotation encoding="application/x-tex"></annotation>
						</semantics>
					</math>
				</template>

				<template id="comment-math-block-template">
					<div class="container math">
						<div class="scroll">
							<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
								<semantics>
									<annotation encoding="application/x-tex"></annotation>
								</semantics>
							</math>
							<button class="copy-block" type="button" aria-label="Copy">&#xf4bb;</button>
						</div>
					</div>
				</template>
			</div>

			<div class="comments-state comments-state-loading" data-disabled>
				<span class="loading-spinner"></span>
			</div>

			<div class="comments-state comments-state-error symbol" data-disabled>
				<p>Failed to load comments</p>
				<button type="button" aria-label="Retry">&#xf0450;</button>
			</div>

			<div class="comments-state comments-state-success" data-disabled>
				<section class="comment">
					<form class="comment-input">
						<textarea aria-label="Enter Comment Text" placeholder="Write a comment" required rows="1"></textarea>
						<div>
							<button class="comment-logout" type="button" aria-label="Sign Out">
								<span class="symbol">&#xf426;</span>
								<span>Sign out</span>
							</button>
							<button class="comment-submit" type="submit" disabled aria-label="Post Comment">
								<span>Reply</span>
								<span class="symbol">&#xf02a4;</span>
								<span>Sign in</span>
							</button>
						</div>
					</form>
				</section>
			</div>
		</section>
		{{- end }}
	</main>

	<footer>
		{{- block "footer" . }}{{ end }}
	</footer>
</body>

</html>
