<!DOCTYPE html>
<html class="theme-system" lang="en-us" dir="ltr" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: https://ogp.me/ns/profile# website: https://ogp.me/ns/website#">

<head>
	{{ with .Title -}}
	<title>{{ . }}</title>
	{{- end }}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="theme-color" content="#212121" />
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#bdbdbd" />
	<meta name="color-scheme" content="dark light" />
	<meta name="author" content="Adam Byrd" />

	{{ block "open-graph" . -}}
		{{- if .IsNode -}}
	<meta property="og:type" content="website" />
		{{- else }}
	<meta property="og:type" content="article" />
			{{- with .Date }}
				{{- $pubDate := .Format "2006-01-02T15:04:05-07:00" }}
	{{ (printf `<meta property="article:published_time" content="%s" />` $pubDate) | safeHTML }}
			{{- end }}
	<meta property="article:author" content="{{ (.Site.GetPage "about").Permalink }}" />
		{{- end }}
	{{- end }}
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:locale" content="{{ .Site.Language.LanguageCode }}" />
	<meta property="og:site_name" content="akbyrd.dev" />
	{{- $og := partial "resource" "res/favicon-og.png" }}
	<meta property="og:image" content="{{ $og.Permalink }}" />
	<meta property="og:image:width" content="{{ $og.Width }}" />
	<meta property="og:image:height" content="{{ $og.Height }}" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@abyrd89" />

	{{ with .Site.Home.OutputFormats.Get "atom" -}}
		{{ (printf `<link rel="%s" href="%s" type="%s" title="%s">` .Rel .RelPermalink .MediaType site.Title) | safeHTML }}
	{{- end }}
	{{ $ico := partial "resource" (dict "Name" "favicon.ico" "Rename" false) -}}
	<link rel="icon" href="{{ $ico.RelPermalink }}" sizes="32x32">
	{{- $svg := partial "resource" "res/favicon.svg" }}
	<link rel="icon" href="{{ $svg.RelPermalink }}" sizes="any" type="image/svg+xml">
	{{- $css := partial "resource" "res/main.css" }}
	<link rel="stylesheet" href="{{ $css.RelPermalink }}"{{ $css.Integrity }}>
	{{- $ts := partial "resource" "res/main.ts" }}
	<script src="{{ $ts.RelPermalink }}" async{{ $ts.Integrity }}></script>

	{{- $woff2 := partial "resource" "res/code.woff2" }}
	{{- $woff := partial "resource" "res/code.woff" }}
	{{- $hasSymbols := strings.FindRE `\p{Co}` (.Content | htmlUnescape) 1 }}
	{{- $hasSymbols = gt (len $hasSymbols) 0 }}
	{{- $hasSymbols = or $hasSymbols .Params.comments }}
	{{- $hasCode := strings.Contains .Content "<code>" }}
	{{- if or $hasSymbols $hasCode }}
	<link rel="preload" as="font" href="{{ $woff2.RelPermalink }}" type="font/woff2"{{ $woff2.Integrity }}>
	<style>
		@font-face {
			font-display: swap;
			font-family: "code";
			src:
				url("{{ $woff2.RelPermalink }}") format("woff2"),
				url("{{ $woff.RelPermalink }}") format("woff");
		}
	</style>
	{{- end }}

	{{- if .Store.Get "hasMath" }}
	{{- $woff2 := partial "resource" "res/math.woff2" }}
	{{- $woff := partial "resource" "res/math.woff" }}

	<link rel="preload" as="font" href="{{ $woff2.RelPermalink }}" type="font/woff2"{{ $woff2.Integrity }}>
	<style>
		@font-face {
			font-display: swap;
			font-family: "math2";
			src:
				url("{{ $woff2.RelPermalink }}") format("woff2"),
				url("{{ $woff.RelPermalink }}") format("woff");
		}
	</style>
	{{- end }}

	<noscript>
		<style>
			.require-js { display: none !important; }
		</style>
	</noscript>

	<script>
		const theme = localStorage.getItem("theme") ?? 0
		const classes = [ "theme-system", "theme-light", "theme-dark" ]
		const html = document.getElementsByTagName("html")[0]
		html.classList.remove("theme-system")
		html.classList.add(classes[theme])
		html.classList.add("has-js")
	</script>
	{{- if hugo.IsServer}}

	<script>
		window.addEventListener("keydown", (e) => {
			if (e.key == "F1") window.open("https://github.com/akbyrd/akbyrd.github.io")
			if (e.key == "F2") window.open("https://akbyrd.dev/tests")
			if (e.key == "F3") window.open("https://github.com/gohugoio/hugo")
			if (e.key == "F4") window.open("https://gohugo.io/documentation/")
			if (e.key == "F6") window.open("https://developer.mozilla.org/en-US/docs/Web/CSS/Reference")
			if (e.key == "F7") window.open("https://caniuse.com/")
			if (e.key == "F8") window.open("https://vercel.com/akbyrd")
	}, { passive: true })
	</script>
	{{- end }}
</head>

<body class="{{ or .Layout .Section }}">
	<header>
		<nav class="header">
			<a class="header-title" href="{{ .Site.Home.RelPermalink }}">akbyrd</a>
			<button class="header-theme-button require-js" id="header-theme-button" type="button" aria-label="Toggle Theme">
				<label class="header-theme-label" for="header-theme-button"></label>
{{/**/}}
			{{- $theme := resources.Get "res/theme-icon.svg" }}
				{{- partial "indent" (slice $theme.Content 3) | chomp | safeHTML }}
			</button>
			<a class="header-about" href="{{ (.Site.GetPage "about").RelPermalink }}">About</a>
		</nav>
	</header>

	<main>
		{{- block "main" . }}{{ end }}

		{{- if .Params.comments }}
		<div class="end-mark symbol require-js">&#xe22e;</div>
		<section id="comments" class="require-js no-mathml">
			<div class="comments-templates" style="display: none;">
				<template id="comment-template">
					<section class="comment">
						<div class="comment-content">
						</div>
						<form class="comment-input reply-input" novalidate>
							<textarea name="Enter Reply Text" placeholder="Write a reply" required rows="1"></textarea>
							<div tabindex="-1">
								<span class="comment-logout">
									<button type="button" aria-label="Sign Out">
										<span class="symbol">&#xf426;</span>
										<span>Sign out</span>
									</button>
									<span class="comment-button-error" style="display: none;"><span class="symbol">&#xf05d6;</span><span class="error-status code"></span></span>
								</span>
								<span class="comment-submit">
									<span class="comment-button-error" style="display: none;"><span class="error-status code"></span><span class="symbol">&#xf05d6;</span></span>
									<button type="submit" disabled aria-label="Post Reply">
										<span class="submit">Comment</span>
										<span class="login symbol">&#xf02a4;</span>
										<span class="login">Sign in</span>
									</button>
								</span>
							</div>
						</form>
					</section>
				</template>

				<template id="reply-template">
					<section class="reply">
						<div class="comment-content">
						</div>
					</section>
				</template>

				<template id="comment-header-template">
					<header>
						<a class="comment-avatar" href="" rel="nofollow noopener noreferrer">
							<img src="" width="40px" height="40px" loading="lazy" />
						</a>
						<a class="comment-time" href="" rel="nofollow noopener noreferrer">
							<time datetime=""></time>
						</a>
					</header>
				</template>

				<template id="comment-footer-template">
					<footer>
						<button class="comment-toggle-reactions symbol" type="button" aria-label="Toggle Reaction Visibility">&#xf4a2;</button>
						<div class="comment-reactions">
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Thumbs Up Reaction" name="THUMBS_UP"><span>👍</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Thumbs Down Reaction" name="THUMBS_DOWN"><span>👎</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Laugh Reaction" name="LAUGH"><span>😄</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Hooray Reaction" name="HOORAY"><span>🎉</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Confused Reaction" name="CONFUSED"><span>😕</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Heart Reaction" name="HEART"><span>❤️</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Rocket Reaction" name="ROCKET"><span>🚀</span><span class="comment-reaction-count">0</span></button>
							<button class="comment-reaction" type="button" disabled="" aria-label="Toggle Eyes Reaction" name="EYES"><span>👀</span><span class="comment-reaction-count">0</span></button>
						</div>
					</footer>
				</template>

				<template id="comment-code-block-template">
					<div class="container code">
						<button class="copy-block symbol" type="button" aria-label="Copy">&#xf4bb;</button>
						<pre class="scroll"><code></code></pre>
					</div>
				</template>

				<template id="comment-math-inline-template">
					<math xmlns="http://www.w3.org/1998/Math/MathML" display="inline">
						<semantics>
							<annotation encoding="application/x-tex"></annotation>
						</semantics>
					</math>
				</template>

				<template id="comment-math-block-template">
					<div class="container math">
						<button class="copy-block symbol" type="button" aria-label="Copy">&#xf4bb;</button>
						<div class="scroll">
							<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
								<semantics>
									<annotation encoding="application/x-tex"></annotation>
								</semantics>
							</math>
						</div>
					</div>
				</template>

				<template id="comment-callout-template">
					<blockquote class="callout">
						<div class="callout-heading code">
							<span class="callout-icon symbol"></span><span class="callout-title"></span>
						</div>
					</blockquote>
				</template>
			</div>

			<div class="comments-state comments-state-loading" data-disabled>
				<span class="loading-spinner"></span>
			</div>

			<div class="comments-state comments-state-error symbol" data-disabled>
				<p>Failed to load comments</p>
				<button type="button" aria-label="Retry">&#xf0450;</button>
			</div>

			<div class="comments-state comments-state-success" data-disabled>
				<section class="comment">
					<form class="comment-input" novalidate>
						<textarea name="Enter Comment Text" placeholder="Write a comment" required rows="1"></textarea>
						<div>
							<span class="comment-logout">
								<button type="button" aria-label="Sign Out">
									<span class="symbol">&#xf426;</span>
									<span>Sign out</span>
								</button>
								<span class="comment-button-error" style="display: none;"><span class="symbol">&#xf05d6;</span><span class="error-status code">500</span></span>
							</span>
							<span class="comment-submit">
								<span class="comment-button-error" style="display: none;"><span class="error-status code"></span><span class="symbol">&#xf05d6;</span></span>
								<button type="submit" disabled aria-label="Post Comment">
									<span class="submit">Reply</span>
									<span class="login symbol">&#xf02a4;</span>
									<span class="login">Sign in</span>
								</button>
							</span>
						</div>
					</form>
				</section>
			</div>
		</section>
		{{- end }}
	</main>

	<footer>
		{{- block "footer" . }}{{ end }}
	</footer>
</body>

</html>
