{{- define "head" }}
	{{- if .Page.Store.Get "hasMermaid" }}
	<script type="module">
		import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
		mermaid.initialize({ startOnLoad: true });
	</script>
	{{- end }}
{{- end }}

{{- define "main" }}
		<h1 class="post-title">
			{{ .LinkTitle }}
			{{- with .Date }}
			<time class="post-time" datetime="{{ .Format "2006-01-02" }}">{{ .Format "Jan 2, 2006" }}</time>
			{{- else }}
			<time class="post-time"></time>
			{{- end }}
		</h1>
{{ partial "indent" (slice .Content 2) | chomp | safeHTML }}
{{- end }}
