/* ---------------------------------------------------------------------------------------------- */
/* Reset */

* { all: unset; }

/* ---------------------------------------------------------------------------------------------- */
/* Colors */

html {
	--accent:      #007fd4;
	--accent-fade: #007fd4a0;

	--dark-background:   #212121;
	--dark-draft-stripe: #2c2c2c;
	--dark-text:         #bdbdbd;
	--dark-text-detail:  #616161;
	--dark-text-shadow:  #000000a0;

	--light-background:   #bdbdbd;
	--light-draft-stripe: #a0a0a0;
	--light-text:         #212121;
	--light-text-detail:  #404040;
	--light-text-shadow:  #00000020;
}

.theme-system, .theme-dark {
	--background:   var(--dark-background);
	--draft-stripe: var(--dark-draft-stripe);
	--text:         var(--dark-text);
	--text-detail:  var(--dark-text-detail);
	--text-shadow:  var(--dark-text-shadow);
}

.theme-light {
	--background:   var(--light-background);
	--draft-stripe: var(--light-draft-stripe);
	--text:         var(--light-text);
	--text-detail:  var(--light-text-detail);
	--text-shadow:  var(--light-text-shadow);
}

@media (prefers-color-scheme: light) {
	.theme-system {
		--background:   var(--light-background);
		--draft-stripe: var(--light-draft-stripe);
		--text:         var(--light-text);
		--text-detail:  var(--light-text-detail);
		--text-shadow:  var(--light-text-shadow);
	}
}

/* ---------------------------------------------------------------------------------------------- */
/* Focus */

* {
	outline-color: var(--accent-fade);
	outline-offset: 4px;
	outline-width: 3px;
}

:focus-visible {
	outline-color: var(--accent);
	outline-offset: 0px;
	outline-style: solid;
	transition-duration: 200ms;
	transition-property: outline-offset, outline-color;
}

@supports not selector(:focus-visible) {
	:focus:not(:active) {
		outline-color: var(--accent);
		outline-offset: 0px;
		outline-style: solid;
		transition-duration: 200ms;
		transition-property: outline-offset, outline-color;
	}
}

/* ---------------------------------------------------------------------------------------------- */
/* Standard Elements */

head, script, style {
	display: none;
}

body {
	background-color: var(--background);
	color: var(--text);
	display: block;
	font-family: serif;
	hanging-punctuation: first allow-end last;
	margin: 0 auto;
	max-width: 800px;
	text-shadow: 1px 1px 6px var(--text-shadow);
	transition-duration: 200ms;
}

header {
	display: block;
	margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	font-weight: bold;
}

h1 { font-size: 30pt; }
h2 { font-size: 28pt; }
h3 { font-size: 26pt; }
h4 { font-size: 24pt; }
h5 { font-size: 22pt; }
h6 { font-size: 20pt; }

a, button {
	cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* Header */

.header {
	align-items: stretch;
	display: block flex;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	line-height: 28px;
}

.header-title {
	font-size: 18pt;
	margin-right: auto;
	padding: 20px;
}

.header-theme-label {
	font-size: 10pt;
	opacity: 0%;
	padding: 20px 10px;
	scale: 0%;
	transition-duration: 100ms;
	transition-timing-function: ease-out;

	&:has(+ .header-theme-button:hover) {
		opacity: 50%;
		scale: 100%;
	}
}

.header-theme-button {
	padding: 20px 10px;
}

.header-theme-icon {
	display: block;
	height: 1em;
	stroke: var(--text);
	transition-duration: 200ms;
	user-select: none;
}

.header-theme-icon-background {
	fill: var(--dark-background);
}

.header-theme-icon-fill {
	fill: var(--dark-text);
}

.header-about {
	padding: 20px;
	padding-left: 10px
}

/* ---------------------------------------------------------------------------------------------- */
/* Home - Post List */

.post-list {
	display: block;
	list-style: none;
}

.post {
	display: block;
	font-family: sans-serif;
	margin-bottom: 20px;
}

.post.draft {
	background: repeating-linear-gradient(
		35deg,
		transparent,
		transparent 10px,
		var(--draft-stripe) 10px,
		var(--draft-stripe) 20px
	);
}

.post-link {
	display: block;
	padding: 0 20px;
}

.post-title {
	color: var(--accent);
	display: block;

	.post-link:hover & {
		text-decoration: underline;
	}
}

.post-time {
	color: var(--text-detail);
	display: block;
	font-size: 11pt;
}
