/* ---------------------------------------------------------------------------------------------- */
/* Reset */

*:not(img) { all: unset; }

/* ---------------------------------------------------------------------------------------------- */
/* Colors & Fonts */

html {
	--max-width: 800px;

	--accent:      #007fd4;
	--accent-fade: #007fd4a0;

	--dark-background:   #212121;
	--dark-draft-stripe: #2c2c2c;
	--dark-text:         #bdbdbd;
	--dark-text-detail:  #616161;
	--dark-text-shadow:  #000000a0;

	--light-background:   #bdbdbd;
	--light-draft-stripe: #a0a0a0;
	--light-text:         #212121;
	--light-text-detail:  #404040;
	--light-text-shadow:  #00000020;
}

.theme-system, .theme-dark {
	--background:   var(--dark-background);
	--draft-stripe: var(--dark-draft-stripe);
	--text:         var(--dark-text);
	--text-detail:  var(--dark-text-detail);
	--text-shadow:  var(--dark-text-shadow);
}

.theme-light {
	--background:   var(--light-background);
	--draft-stripe: var(--light-draft-stripe);
	--text:         var(--light-text);
	--text-detail:  var(--light-text-detail);
	--text-shadow:  var(--light-text-shadow);
}

@media (prefers-color-scheme: light) {
	.theme-system {
		--background:   var(--light-background);
		--draft-stripe: var(--light-draft-stripe);
		--text:         var(--light-text);
		--text-detail:  var(--light-text-detail);
		--text-shadow:  var(--light-text-shadow);
	}
}

/* ---------------------------------------------------------------------------------------------- */
/* Focus */

html * {
	outline-color: var(--accent-fade);
	outline-offset: 3px;
	outline-width: 3px;
}

:focus-visible {
	outline-color: var(--accent);
	outline-offset: -3px;
	outline-style: solid;
	transition-duration: 200ms;
	transition-property: outline-offset, outline-color;
}

@supports not selector(:focus-visible) {
	:focus:not(:active) {
		outline-color: var(--accent);
		outline-offset: 0px;
		outline-style: solid;
		transition-duration: 200ms;
		transition-property: outline-offset, outline-color;
	}
}

/* ---------------------------------------------------------------------------------------------- */
/* Shared / Standard */

head, script, style {
	display: none;
}

html {
	padding-left: clamp(0px, 100vw - 100%, 100% - var(--max-width));
}

body {
	background-color: var(--background);
	color: var(--text);
	display: block;
	font-family: serif;
	hanging-punctuation: first allow-end last;
	margin: 0 auto;
	min-width: 296px;
	max-width: var(--max-width);
	text-shadow: 1px 1px 6px var(--text-shadow);
	transition-duration: 200ms;
}

header {
	display: block;
	margin-bottom: 40px;
}

main {
	display: block;
}

footer {
	display: block;
	margin-top: 40px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	font-family: sans-serif;
	font-weight: bold;
}

h1 { font-size: 30pt; }
h2 { font-size: 28pt; }
h3 { font-size: 26pt; }
h4 { font-size: 24pt; }
h5 { font-size: 22pt; }
h6 { font-size: 20pt; }

a, button {
	cursor: pointer;
}

.image-background {
	display: block;
	margin: 0 auto;
	outline: 1px solid var(--text-detail);
	outline-offset: 0px;
	overflow: hidden;
	width: fit-content;
}

img {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	overflow: auto;
}

p, ul, ol, li {
	display: block;
}

.fade-in {
	animation-duration: 600ms;
	animation-name: fade-in;
	animation-timing-function: cubic-bezier(.5, .5, 0, 1)
}

@keyframes fade-in {
	from {
		opacity: 0%;
		scale: 102%;
	}

	to {
		opacity: 100%;
		scale: 100%;
	}
}

/* ---------------------------------------------------------------------------------------------- */
/* Header */

.header {
	align-items: stretch;
	display: block flex;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	line-height: 28px;
}

.header-title {
	font-size: 18pt;
	margin-right: auto;
	padding: 20px;
}

.header-theme-label {
	font-size: 10pt;
	opacity: 0%;
	padding: 20px 10px;
	scale: 0%;
	transition-duration: 100ms;
	transition-timing-function: ease-out;

	&:has(+ .header-theme-button:hover) {
		opacity: 50%;
		scale: 100%;
	}
}

.header-theme-button {
	padding: 20px 10px;
}

.header-theme-icon {
	display: block;
	height: 1em;
	stroke: var(--text);
	transition-duration: 200ms;
	user-select: none;
}

.header-theme-icon-background {
	fill: var(--dark-background);
}

.header-theme-icon-fill {
	fill: var(--dark-text);
}

.header-about {
	padding: 20px;
	padding-left: 10px;
}

/* ---------------------------------------------------------------------------------------------- */
/* Home */

.post-list {
	list-style: none;
}

.post:not(:last-of-type) {
	margin-bottom: 10px;
}

.post-link {
	display: block;
	padding: 10px 20px;

	&.draft {
		background: repeating-linear-gradient(
			35deg,
			transparent,
			transparent 10px,
			var(--draft-stripe) 10px,
			var(--draft-stripe) 20px
		);
	}
}

.post-title {
	color: var(--accent);

	.post-link:hover & {
		text-decoration: underline;
	}
}

.post-time {
	color: var(--text-detail);
	display: block;
	font-family: sans-serif;
	font-size: 11pt;
}

/* ---------------------------------------------------------------------------------------------- */
/* About */

.about-main {
	font-size: 14pt;
	padding: 0 20px;
	text-align: justify;
}

.about-pic-container {
	float: left;
	margin-right: 20px;
}

@media (max-width: 600px) {
	.about-pic-container {
		float: none;
		margin: 0 auto 20px auto;
	}
}

.about-pic {
	max-width: 256px;
}

.about-link-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	user-select: none;

	li {
		height: 40px;
		margin: 0 6px;
		width: 40px;
	}

	a {
		background-color: var(--dark-background);
		border-radius: 6px;
		color: var(--dark-text);
		display: block;
		font-family: Symbols;
		font-size: 38px;
		line-height: 40px;
		text-align: center;
	}
}

/* ---------------------------------------------------------------------------------------------- */
/* Debug */

/*
* {
	outline: 1px solid red;
	outline-offset: -1px;
}
*/
