{{ define "main" }}
		<ul class="post-list">
			{{ $posts := (.GetPage "posts").RegularPagesRecursive }}
			{{ range $posts }}
			{{ $devOnly := .Draft }}
			{{ with .Date        }}{{ $devOnly = or $devOnly (ge . time.Now) }}{{ end }}
			{{ with .PublishDate }}{{ $devOnly = or $devOnly (ge . time.Now) }}{{ end }}
			{{ with .ExpiryDate  }}{{ $devOnly = or $devOnly (le . time.Now) }}{{ end }}
			<li class="post">
				<a class="post-link{{if $devOnly }} draft{{ end }}" href="{{ .RelPermalink }}">
					<h1 class="post-title">{{ .LinkTitle }}</h1>
					{{ with .Date }}
					<time class="post-time" datetime="{{ .Format "2006-01-02" }}">{{ .Format "Jan 2, 2006" }}</time>
					{{ else }}
					<div class="post-time">&zwnj;</div>
					{{ end }}
				</a>
			</li>
			{{ end }}
		</ul>
{{ end }}
